{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "arrowParens": "always",
  "overrides": [
    { "files": ".editorconfig", "options": { "parser": "yaml" } },
    { "files": "LICENSE", "options": { "parser": "markdown" } }
  ]
}
