{
  extends: '@ali/stylelint-config-ali',
  rules: {
    'selector-nested-pattern': '',
    'selector-max-id': 1,
    'declaration-block-no-shorthand-property-overrides': null,
    'font-family-no-missing-generic-family-keyword': null,
  },
}
